<main>
    <h1>use your email and password</h1>
    <samp id="err"></samp>
    <div id="login" class="login-area">

        <form action="/login" method="POST">
            <div>
                <label for="email"><b>Email</b></label>
                <input type="email" id="email" placeholder="Enter Your email" name="email" required />

                <label for="password"><b>Password</b></label>
                <input type="password" id="password" placeholder="Enter Password" name="password" required />

                <button type="submit" class="btn login-btn">Login</button>
                <span class="otherlinktext">Forgot <a href="#">password?</a> | <a href="/register">Register</a> </span>
            </div>
        </form>
    </div>
</main>