<main>
    <div class="container">
        <!-- <div class="bg-red-100 border-red-400 text-red-700 px-4 py-3 rounded relative my-5" role="alert">
            <strong class="font-bold">Alert!</strong>
            <span id="err" class="block sm:inline">{{error}}</span>
        </div> -->
    </div>


    <!-- Login Form -->
    <div class="container">
        <h1 class="text-center text-2xl">Login To Attendance Tracker</h1>
        <div class="max-w-sm mx-auto my-4 bg-white px-5 py-9 rounded shadow-xl">
            <div class="bg-red-100 border-red-400 text-red-700 px-4 py-3 rounded relative my-5" role="alert">
                <strong class="font-bold">{{message}}</strong>
            </div>
            <form action="/login" method="POST">
                <div class="mt-3">
                    <label for="email" class="font-bold block">Email</label>
                    <input type="email" id="email" class="block w-full p-2 border rounded border-gray-500"
                        placeholder="Enter Your email" name="email" required />
                </div>
                <div class="mt-3">
                    <label for="password" class="font-bold block">Password</label>
                    <input type="password" id="password" class="block w-full p-2 border rounded border-gray-500"
                        placeholder="Enter Password" name="password" required />
                </div>
                <div class=" my-3 flex items-center justify-between ">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Login</button>

                    <a class="no-underline hover:underline inline-block align-baseline font-bold text-sm float-right text-blue-500 hover:text-blue-700 "
                        href="#"> Forgot
                        Password? </a>
                </div>
            </form>
        </div>

    </div>
    <div class="text-center mb-3">
        <p class="text-grey-dark text-sm ">Don't have an account? <a href="/register"
                class="no-underline text-blue font-bold hover:text-blue-700">Create an Account</a>.</p>
    </div>
    </div>
    <!-- Login Form End -->
</main>