<nav class="flex flex-wrap justify-between bg-gray-800 p-6">
    <div class="text-white mr-6">
        <span class="font-bold text-xl">{{title}}</span>
    </div>
    <div class="flex sm:flex-wrap text-sm mb-2">
        <a href="#" class="block mt-1 sm:inline-block sm:mt-0 text-blue-400 hover:text-white mr-4">
            Home
        </a>
        <a href="#" class="block mt-1  sm:inline-block sm:mt-0 text-blue-400 hover:text-white mr-4">
            Profile
        </a>
        <a href="#" class="block mt-1  sm:inline-block sm:mt-0 text-blue-400 hover:text-white mr-4">
            Setting
        </a>
        <a href="#" class="block mt-1  sm:inline-block sm:mt-0 text-blue-400 hover:text-white mr-4">
            Report
        </a>
    </div>
    <div class="flex sm:flex-wrap">
        <div class="text-white pr-1">
            Login as: <span id="userEmail">{{userEmail}}</span>
        </div>
        <div class="sm:flex-wrap">
            <form action="/logout" method="POST">
                <button id="logoutBtn"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Logout</button>
            </form>
        </div>
    </div>

</nav>
<main>
    <div class="container max-w-md mx-auto py-3">
        <div class="font-bold text-center text-lg my-2">Welcome <span id="userName">{{userName}}</span> </div>
        <div class="font-bold flex justify-between border-b-2">
            <span id="current_date" class="current_date"></span>
            <span id="current_time" class="current_time"></span>
        </div>

        <div class="flex justify-between my-2">
            <span class="font-bold text-lg leading-9">Work</span>
            <button id="workInBtn"
                class="w-28 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">IN</button>
            <button id="workOutBtn"
                class="w-28 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled">OUT</button>
        </div>

        <div class="flex justify-between my-2">
            <span class="font-bold text-lg leading-9">Break</span>
            <button id="breakInBtn"
                class="w-28 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled">IN</button>
            <button id="breakOutBtn"
                class="w-28 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled">OUT</button>
        </div>

    </div>
    <div class="container max-w-md mx-auto pb-4">
        <small>Today:</small>
        <div class="bg-white flex justify-between shadow-sm px-2 py-5">
            <div class="text-center border-r-2 w-full">
                <h4 class="text-base font-bold uppercase">Working Time</h4>
                <p id="workTotal" class=""></p>
                <small>start: <span id="workStart"></span></small>
                <small>End: <span id="workEnd"></span></small>
            </div>
            <div class="text-center w-full">
                <h4 class="text-base font-bold uppercase">Break Time</h4>
                <p id="breakTotal" class=""></p>
                <small>start: <span id="breakStart"></span></small>
                <small>End: <span id="breakEnd"></span></small>
            </div>
        </div>
    </div>
    <div class="container max-w-md mx-auto py-3">
        <div class="font-bold border-b-2">
            <h3><span id="cMonth"></span> <span id="cYear"></span> Working Time</h3>
        </div>
        <div class="justify-between mt-2">
            <ul id="list" class="list">
                <!-- <li>Day 1<span>01.04.2021</span><span>7 hr. 30 minute</span></li>-->
            </ul>
        </div>
        <div class="font-bold bg-blue-500 px-2 py-1 mt-2 text-right">
            Total Time (Hours.): <span id="totalTime"></span>
        </div>

    </div>
</main>