<main>
    <h1>Create new User</h1>
    <div class="login-area">

        <form action="/register" method="POST">
            <div>
                <label for="name"><b>Name</b></label>
                <input type="text" id="name" placeholder="Enter Your Full Name" name="name" required />

                <label for="email"><b>Email</b></label>
                <input type="email" id="email" placeholder="Enter Your email" name="email" required />

                <label for="password"><b>Password</b></label>
                <input type="password" id="password" placeholder="Enter Password" name="password" required />

                <button type="submit" class="btn login-btn">Register</button>
                <span class="otherlinktext">Already registered ? <a href="/">login</a> here</span>
            </div>

        </form>


    </div>

</main>