<main>
    <!-- Login Form -->
    <div class="container">
        <div class="max-w-sm mx-auto my-4 bg-white px-5 py-9 rounded shadow-xl">
            <div {{#if errMessage}}class="font-bold text-red-700 border-red-400 bg-red-100 px-4 py-3 rounded my-5"
                {{/if}} role="alert">
                <strong></strong> {{errMessage}}
            </div>
            <form action="" method="POST">
                <div class="mt-3">
                    <label for="password" class="font-bold block">Password</label>
                    <input type="password" id="password" class="block w-full p-2 border rounded border-gray-500"
                        placeholder="Enter Password" name="password" required />
                    <label for="password2" class="font-bold block">Confirm Password</label>
                    <input type="password" id="password2" class="block w-full p-2 border rounded border-gray-500"
                        placeholder="Enter Password" name="password2" required />
                </div>
                <div class=" my-3 flex items-center justify-between ">

                    <input type="submit" value="reset password"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">

                    <a class="no-underline hover:underline inline-block align-baseline font-bold text-sm float-right text-blue-500 hover:text-blue-700 "
                        href="/"> Back to Home </a>
                </div>
            </form>
        </div>

    </div>
    <div class="text-center mb-3">
        <p class="text-grey-dark text-sm ">Don't have an account? <a href="/register"
                class="no-underline text-blue font-bold hover:text-blue-700">Create an Account</a>.</p>
    </div>
    </div>
    <!-- Login Form End -->
</main>